In [2]:
import pandas as pd

In [5]:
data_dir='C://Users//asus//Desktop//Netology//Data//ml-latest-small'
tags=pd.read_csv(data_dir+'/tags.csv')
ratings=pd.read_csv(data_dir+'/ratings.csv')
movies=pd.read_csv(data_dir+'/movies.csv')

In [6]:
tags['movie_id']=tags['movieId'].astype('category').cat.codes.copy()

In [7]:
movies_tags = tags[["movieId", "movie_id", 'tag']].drop_duplicates().join(
    movies,
    on="movieId",
    rsuffix="codes",
    lsuffix="movies",
    sort=True
).fillna("None")[["movie_id", "genres",'tag']]

Сливаем все теги для каждого фильма в одну строчку

In [8]:
tags_comb=tags.groupby('movieId')['tag'].apply('|'.join).reset_index()

In [9]:
tags_comb.head()

   movieId                                                tag
0        1                                              Pixar
1        5                                       steve martin
2       47  biblical|crime|dark|disturbing|greed|horror|se...
3       50                                           thriller
4      104                                       adam sandler

Создаем матрицу тэгов

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
tags_features=CountVectorizer().fit_transform(tags_comb['tag'])

Добавляем movie_id

In [11]:
from scipy.sparse import hstack, identity

features = hstack([
    identity(tags_comb.shape[0]),
    tags_features
])

Получаем матрицу схожести между фильмами по тэгам

In [12]:
from implicit.als import AlternatingLeastSquares
model=AlternatingLeastSquares()
model.fit(features)

In [13]:
model.similar_items(77)

[(77, 0.99999999999999956),
 (414, 0.57145941179780246),
 (121, 0.46660196322125075),
 (125, 0.42616705811075145),
 (179, 0.36531073832236438),
 (343, 0.3184630247203164),
 (509, 0.31190327378819732),
 (249, 0.28094404128600553),
 (71, 0.23553425492714608),
 (195, 0.22996422131709418)]

In [14]:
list(zip(tags.tag[tags['movie_id']==77],tags.tag[tags['movie_id']==414]))

[('cult film', 'notable nudity'), ('jack nicholson', 'Nudity (Full Frontal)')]

In [15]:
movies_tags.head()

     movie_id                      genres           tag
726         0  Adventure|Children|Fantasy         Pixar
592         1       Action|Crime|Thriller  steve martin
339         2               Drama|Romance      biblical
340         2               Drama|Romance         crime
341         2               Drama|Romance          dark

In [16]:
tags[tags['movie_id']==414]

     userId  movieId                    tag   timestamp  movie_id
866     546    53318         notable nudity  1301196436       414
867     546    53318  Nudity (Full Frontal)  1301196425       414

In [17]:
movies[movies['movieId']==53318]

      movieId            title                genres
6713    53318  Cashback (2006)  Comedy|Drama|Romance

In [19]:
ratings['movie_id']=ratings['movieId'].astype('category').cat.codes.copy()
ratings['user_id']=ratings['userId'].astype('category').cat.codes.copy()