In [1]:
import pandas as pd

In [2]:
data_dir='C://Users//mrasskazov//Desktop//DS//Data//ml-latest-small'
tags=pd.read_csv(data_dir+'/tags.csv')
ratings=pd.read_csv(data_dir+'/ratings.csv')
movies=pd.read_csv(data_dir+'/movies.csv')

In [3]:
tags['movie_id']=tags['movieId'].astype('category').cat.codes.copy()

In [4]:
movies_tags = tags[["movieId", "movie_id", 'tag']].drop_duplicates().join(
    movies,
    on="movieId",
    rsuffix="codes",
    lsuffix="movies",
    sort=True
).fillna("None")[["movie_id", "genres",'tag']]

Сливаем все теги для каждого фильма в одну строчку

In [5]:
tags_comb=tags.groupby('movieId')['tag'].apply('|'.join).reset_index()

In [31]:
tags_comb.head()

   movieId                                                tag
0        1                                              Pixar
1        5                                       steve martin
2       47  biblical|crime|dark|disturbing|greed|horror|se...
3       50                                           thriller
4      104                                       adam sandler

Создаем матрицу тэгов

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
tags_features=CountVectorizer().fit_transform(tags_comb['tag'])

Добавляем movie_id

In [9]:
from scipy.sparse import hstack, identity

features = hstack([
    identity(tags_comb.shape[0]),
    tags_features
])

Получаем матрицу схожести между фильмами по тэгам

In [10]:
from implicit.als import AlternatingLeastSquares
model=AlternatingLeastSquares()
model.fit(features)

In [25]:
model.similar_items(77)

[(77, 1.0000000000000004),
 (414, 0.53639635169909061),
 (121, 0.47042177617580555),
 (125, 0.41485973638043527),
 (179, 0.35404511840220904),
 (343, 0.32200635119673759),
 (509, 0.30337232060475655),
 (249, 0.26914183245156553),
 (71, 0.22309911718292172),
 (195, 0.21101948061061529)]

In [38]:
list(zip(tags.tag[tags['movie_id']==77],tags.tag[tags['movie_id']==414]))

[('cult film', 'notable nudity'), ('jack nicholson', 'Nudity (Full Frontal)')]

In [51]:
movies_tags

      movie_id                      genres                tag
726          0  Adventure|Children|Fantasy              Pixar
592          1       Action|Crime|Thriller       steve martin
339          2               Drama|Romance           biblical
340          2               Drama|Romance              crime
341          2               Drama|Romance               dark
342          2               Drama|Romance         disturbing
343          2               Drama|Romance              greed
344          2               Drama|Romance             horror
345          2               Drama|Romance      serial killer
346          2               Drama|Romance            violent
727          2               Drama|Romance         psychology
728          2               Drama|Romance       twist ending
347          3             Adventure|Drama           thriller
233          4                       Drama       adam sandler
540          5       Drama|Mystery|Romance          cult film
541          5       Drama|Mystery|Romance    Martin Scorsese
542          5       Drama|Mystery|Romance  social commentary
11           6                Comedy|Drama         Ron Howard
593          6                Comedy|Drama          tom hanks
246          7                      Comedy          Ei muista
594          8                       Drama         hugh grant
595          9     Children|Comedy|Fantasy        ethan hawke
868          9     Children|Comedy|Fantasy           holes90s
348         10     Action|Adventure|Sci-Fi              aging
349         10     Action|Adventure|Sci-Fi            Ang Lee
350         10     Action|Adventure|Sci-Fi            cooking
351         10     Action|Adventure|Sci-Fi               food
352         10     Action|Adventure|Sci-Fi      relationships
596         11                       Drama           meg ryan
597         12                      Comedy             school
...        ...                         ...                ...
1245       662                        None          toplist15
1291       663                        None    meaning of life
1292       663                        None      philosophical
1293       663                        None             sci-fi
1246       664                        None          toplist15
1269       665                        None      found footage
1270       665                        None    survival horror
1247       666                        None          toplist15
1248       667                        None               tivo
1249       668                        None          toplist15
1250       669                        None               tivo
1251       670                        None               tivo
1252       671                        None          toplist15
1253       672                        None          toplist15
1254       673                        None          toplist15
1255       674                        None                bkk
1288       675                        None                gay
1256       676                        None          toplist15
1257       677                        None               tivo
1258       678                        None          toplist15
1259       679                        None                bkk
1260       680                        None          toplist16
1261       681                        None                bkk
1262       682                        None                bkk
1263       683                        None             getdvd
1264       684                        None                bkk
1265       685                        None                bkk
1266       686                        None          toplist16
1267       687                        None               tivo
1268       688                        None               tivo

[1272 rows x 3 columns]

In [57]:
tags[tags['movie_id']==414]

     userId  movieId                    tag   timestamp  movie_id
866     546    53318         notable nudity  1301196436       414
867     546    53318  Nudity (Full Frontal)  1301196425       414

In [58]:
movies[movies['movieId']==53318]

      movieId            title                genres
6713    53318  Cashback (2006)  Comedy|Drama|Romance